/*notebook */
.container {
    /*background-color: #1C1C1C;*/
    width: 100%;
}

body > #header {
    background-color: #1C1C1C;

}

#notebook-container {
    background-color: #313335;
}

/*kreska pod nagłówkiem*/
body > #header .header-bar {
    background-color: #1c1c1c;
}

/* to będzie skutkowało zmianą koloru czcionki napisów w nagłówku i innych, domyślnie jest biały, ustawiony przez bootstrap*/
body {
    /*color: #2a323a;*/
    font-size: 12px;
}


.notebook_app {
    background-color: #3C3F41;
}

/*side pannel*/
.side_panel_inner {
    background-color: #2c2c2c;/*#3C3F41;*/
}

.list_header {
    background-color: #1C1C1C;
}

.nav-tabs > li > a {
    border: 1px solid #7a7c8a;
}

.nav-tabs {
    border-bottom: 1px solid #7a7c8a;
}

/*to tymczasowo - do poprawienia ładowania list_container (patrz TODO w panel_browser.js*/
.list_container {
    border: none;
}

.list_container > div {
    border-bottom: 1px dashed #3b3b3e;
}
/*
.col-md-12:hover {
    background-color:#282828;
}
*/

.list_item:hover {
    background-color:#3b3b3e;
}

.list_header > div, .list_item > div {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 7px;
    padding-right: 7px;
    line-height: 22px;
}

#running .panel-group .panel .panel-heading {
    background-color: #06121A;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 7px;
    padding-right: 7px;
    line-height: 22px;
}

/* prompt po lewej stronie celek*/
div.input_prompt {
    color: #a2a2a2;
}

.prompt {
    min-width: 5ex;
}

/* toolbar kontrolki - próba
żeby zrobić własny dropdown, trzeba go umieścić w bootstrapowym stylu - jako button dropdown (zamiast select, chociaż select też działa)

*/
/*dropdowns na toolbarze*/
.toolbar select, .toolbar label {
    height: 30px;
    background-color: #1c1c1c;
}

/*Celki (cells) Jupytera notebook'a*/
div.input_area {
    border: 1px solid #1C1C1C;
    border-radius: 0px;
}

/*Output pod celką*/
div.output_area pre {
    color: #FFFFFF;

}

/*czas wykonania pod celką - to jest od rozszerzenia związanego z execution timing)*/
.timing_area {
    background-color: #2c2c2c;
    /*border: 1px solid #1c1c1c;*/
    border-top: 1px solid #4e4e4e;
    color: #ffffff;
}

/*Guzik na toolbarze (trusted)*/
.notification_widget {
    background-color: #424242; /*#BB5A2C;*/
    color: #ffffff; /*#1c1c1c;*/
    border: 1px solid #424242;
}

.notification_widget:hover {
    background-color: #282828; /*#773b1f;*/
    border: 1px solid #282828;
}

/*Guzik Logout na toolbarze*/
span#login_widget > .button, #logout {
    background-color: #3D74AD; /*#BB5A2C;*/
    color: #ffffff; /*#1c1c1c;*/
    border: 1px solid #3D74AD;
}

#logout:hover {
    background-color: #2B527C;
    border: 1px solid #2B527C;
    color: #ffffff;

}

/*logo lewa górna część */
#ipython_notebook img {
    height: 100%;

}

/*komunikaty pod celkami*/
.rendered_html p {
    color: #ffffff;
}

.js-error {
    color: #f85b28;
}

/*MENU SNIPPETS*/
.menu_snippets{

}
.menu_snippets_item{
    display: block;
    background-color: #5555;
    border-top: 1px dashed #6f6767;
    padding: 5px 2em;
}

div.menu_snippets_item a{
    color:white;
    text-decoration:none;
}

div.menu_snippets_item:hover{
    background-color:#555;

}

.menu_snippets_item_content {
}

.menu_snippets_item_header{
    border-top: 1px solid #555;
    display: block;
    text-align: left;
    padding: 8px 16px;
    font-weight:bold;
}

div.menu_snippets_item_header, a:hover{
    text-decoration:none;

}

div.menu_snippets_item_header, a:focus{
    text-decoration:none;

}

.menu_snippets_item_header:hover{
    background-color: #3c3f41;
}

div.menu_snippets_item_header a{
    text-decoration:none;
}

div.tab-content {
    background-color:#2c2c2c;
}
/*End of MENU SNIPPETS*/

/*wysokość całej apki zmniejszymy - jeżeli chcemy na dole dodać pasek (np. rozwijalny)
#ipython-main-app {
    height:94%;
}
*/

/*
kolor na obramowanie wybranej celki: #6f6c75
div.cell.selected, div.cell.selected.jupyter-soft-selected

*/